{% block text %}
<div class="hiroshima-contents">
  <h3>このサイトの目的</h3>
  <p>「ひろしまサンドボックス データカタログサイト」（以下「当サイト」という。）は，広島県商工労働局によって運用され，<a href="https://hiroshima-sandbox.jp/#area2" target="_blank">ひろしまサンドボックス</a>が行う実証実験のデータなどを，加工・分析が容易に行える形式で提供し，企業の皆さまが新たなサービスやビジネスの創出，あるいは生産性の向上に取り組めるよう支援するサイトです。</p>
  <p>当サイトはオープンソースとしてGitHubで公開しております。</p>
  <p>公開先URL：(URL未定)</p>
  <br>
  <h3>知的財産権等</h3>
  <p>当サイトにてオープン化されているデータセットのうち，クリエイティブ・コモンズ・ライセンスのマークが付いたもの関わる知的財産権等の権利は，各データセットの詳細ページに記載されているクリエイティブ・コモンズ・ライセンスのライセンス条件の範囲内で利用することが可能です。</p>
  <p>ライセンス条件について，詳しくは「<a href="http://creativecommons.jp/licenses/" target="_blank">クリエイティブ・コモンズ・ライセンス</a>」をご参照ください。</p>
  <br>
  <p>「Hiroshima Sandbox License」の付いたデータセットに関わる知的財産等の権利は「<a href="https://hiroshima-sandbox.jp/resource/pdf/data-riyoukiyaku.pdf" target="_blank">利用規約</a>」をご参照ください。</p>
  <br>
  <p>データセット以外の当サイトを構成するテキスト・画像素材，商標等に関わる知的財産権等の権利は，広島県又はその他の権利者が保有・管理しております。利用者の皆さまが権利者から適正な許諾を得ることなく，当サイトのデータセット以外の全部又は一部を無断で使用（複製，転用，加工，送信，販売等）することは，権利者の正当な権利を侵害する行為であり，法律により固く禁じられております。</p>
  <br>
  <h3>リンク</h3>
  <p>当サイトはリンクフリーですが、リンクを貼る箇所については、原則、<a href="{{ h.url_for('home.index') }}">トップページ</a>へお願いいたします。ただし、各情報においてリンクの制限等の注記がある場合にはこの限りではありません。また、リンク元のホームページの内容が法令や公序良俗に反する場合などには、リンクはお断り致します。リンクの設定をされる際はフレームの中で表示するなど、ご自分のページの一部のような設定はご遠慮ください。</p>
  <br>
  <h3>個人情報等の取扱いについて</h3>
  <h4>〇個人情報とは</h4>
  <p>住所、氏名、電話番号、電子メールアドレス等、個人に関する情報であって、特定の個人が識別できる（誰の情報かが分かる）ものをいいます。</p>
  <br>
  <h4>〇個人情報等の収集について</h4>
  <p>このホームページを通じて広島県が個人情報を収集する際は、利用者ご本人の意思による情報の提供を原則とします。</p>
  <p>個人情報の収集は収集目的を明確にし、その目的を達成するために必要な範囲内で行います。</p>
  <p>また、個人情報には当たりませんが、当サイトでは、インターネットドメイン名、IPアドレス、当サイトの閲覧等の情報を自動的に収集します。なお、Cookie(クッキー：サーバー側で利用者を識別するために、サーバーから利用者のブラウザに送信され、利用者のコンピューターに蓄積される情報）は、アクセス件数の正確な把握及びブラウザ表示機能の利便性向上等に利用することがあります。</p>
  <br>
  <h4>〇個人情報等の利用・提供について</h4>
  <p>利用者の皆様から提供いただいた個人情報は、あらかじめ明示した収集目的※の範囲内で利用します。</p>
  <p>ご本人の同意がある場合など、個人情報保護条例で定める一定の場合を除き、個人情報の収集目的を越えた利用や外部への提供その他はいたしません。</p>
  <p>また、サイトの利用状況を把握するためにGoogle Analyticsを利用しています。Google Analyticsは、Cookieを利用して利用者の情報を収集します。詳細については、「<a href="https://policies.google.com/technologies/partner-sites?hl=ja" target="_blank">Googleのサービスを使用するサイトやアプリから収集した情報のGoogleによる使用</a>」をご覧ください。</p>
  <h4>※収集目的</h4>
  <p>利用者情報は、本サービスのサービス提供にかかわる利用者情報の具体的な利用目的と対応する利用者情報の項目に定めるとおりに利用されます。</p>
  <p>項目は以下の通りです。</p>
  <p>（１）本サービスに関するお問い合わせ等への対応のため</p>
  <p>　・ 氏名</p>
  <p>　・ メールアドレス</p>
  <p>　・ その他当所が定める入力フォームにユーザーが入力する情報</p>
  <p>（２）当所のサービスに関連して、個人を識別できない形式に加工した統計データを作成するため</p>
  <p>　・ ログ情報、本サイト上での行動履歴</p>
  <p>　・ Cookie</p>
  <br>
  <h3>本サイトの利用について</h3>
  <p><a href="{{ h.url_for('home.about-use') }}">こちら</a>をご確認ください。</p>
  <br>
  <br>
  <br>
  <p>＜お問い合わせ＞</p>
  <p>イノベーション推進チーム　地域産業デジタル化推進担当</p>
  <p>〒730-8511 広島市中区基町10番52号</p>
  <p>地域産業デジタル化推進担当</p>
  <p>電話：082-513-3348</p>
</div>
{% endblock %}
