{% extends 'package/read_base.html' %}
{% import 'macros/form.html' as form %}

{% set pkg = c.pkg_dict %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - 利用申し込み{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active">{% link_for '利用申し込み', named_route='package.meta-data-request', id=pkg.name %}</li>
{% endblock %}

{% block primary_content_inner %}
<h2 class="hide-heading">利用申し込み</h2>
{{ form.errors(error_summary) }}
<form class="dataset-form dataset-resource-form" method="post">

  <p class="action-info">ご指定のメタデータ元のデータ開示お問い合わせフォームです。</p>
  <br>
  <p class="action-info">以下の内容にご回答頂き，送信ボタンを押してください。</p>
  <p class="action-info">後ほど，メタデータ元のデータを保有する企業担当者より，メールにてご連絡させて頂きます。</p>
  
  <div class="form-group control-medium">
    <label class="control-label">ひろしまサンドボックス推進協議会への参加確認（必須）</label>
    <p class="action-info">お問い合わせに当たっては，ひろしまサンドボックス推進協議会（無料）への参加が必要となります。</p>
    
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" id="field-participation-already" value="参加済み" name="participation-already"  {% if 'participation-already' in form_data and form_data['participation-already'] == '参加済み' %}checked{% endif %}>
        参加済み
        <span title="{{ _("This field is required") }}" class="control-required">*</span>
        {% if errors['participation-already'] %}<strong class="error-inline">{{ errors['participation-already']|join(', ') }}</strong>{% endif %}
      </label>
    </div>
    <div class="slug-preview">
      <p class="action-info">注）未参加の方は<a href="https://www.pref.hiroshima.lg.jp/ques/questionnaire.php?openid=1019" target="_blank">こちら</a>からご参加をお願い致します（無料）。</p>
    </div>
  </div>
  <label class="control-label">利用目的及びお問い合わせのご担当者様の確認（必須）</label>
  {{ form.textarea('purpose', id='field-purpose', label='利用目的', value=form_data['purpose'], placeholder='', error=errors['purpose'], is_required=true, rows=5, cols=20) }}
  {{ h.snippet("package/snippets/user_info_form.html", form_data=form_data, errors=errors) }}

  <div class="form-actions">
    <button class="btn btn-primary" type="submit">申込申請</button>
  </div>

</form>
{% endblock %}
