{% ckan_extends %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ h.url_for_static('/css/hiroshima_header.css') }}" />
<link rel="stylesheet" href="{{ h.url_for_static('/css/hiroshima_main.css') }}" />
<link rel="stylesheet" href="{{ h.url_for_static('/css/hiroshima_footer.css') }}" />

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119053718-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119053718-2');
</script>
{% endblock %}
